*{
    font-family: Mont;

}



.header{
    width: 100%;
    height: 100px;
    background: #00A6A3;
    display: flex;
    align-items: center;
}

.name{
    color: #FFFFFF;
    font-weight: 550;
    font-size: 36;
    height: 50px;
    position: absolute;
    top: 0;
    left: 368;
    bottom: 0;
    margin: auto 0;
}

.helptext{
display: none;
}
.profile{
height: 50px;
margin-top: 100px;

}
.text1{


padding-top: 20px;
text-decoration: none;
color: #FFFFFF;
display: inline-block;
    font-size: 25;
    height: 50px;
    margin-right: 40px;


}

.text2{
text-decoration: none;
display: inline-block;
color: #FFFFFF;
    font-size: 25;
    height: 50px;
    margin-right: 40px;
}

.text3{

text-decoration: none;
display: inline-block;
color: #FFFFFF;
    font-size: 25;
    height: 50px;
    margin-right: 40px;
}
.container{
margin-left: 400px;

}



.login{
    box-sizing: content-box;
    border: 1px solid white;
    font-size: 16;
    display: inline;
    width:85;
    height: 30;

    margin-right: 40px;
    border-radius: 3px;
    text-align: center;
    color: #FFFFFF;

}
.loopa{


margin-right: 20px;
}

.login_{
text-align: center;
padding-top: 10px;
margin-top: 10px;
color: #FFFFFF;
    alink: #FFFFFF;
    text-decoration: none;
}


.register{
    box-sizing: content-box;
    background: #4799CB;
    width:130;
    height: 30;
    border: 1px solid white;
    font-size: 16;
    display: inline;
    margin-right: 40px;
    border-radius: 3px;
    text-align: center;
    color: #FFFFFF;
    alink: #FFFFFF;
}

.register_{
color: #FFFFFF;
    alink: #FFFFFF;
    text-decoration: none;
    }


.inText1{
    color: #FFFFFF;
    padding: 20px;
    margin-top: 80px;
}

.inText2{
    color: #FFFFFF;

}

.logotip-sova{
height: 80px;
position: absolute;
top: 20px;
left: 100px;
}

.logotip-nazvanie{
position: absolute;
height: 80px;
top: 20px;
left: 200px;
}

.profile{
    height: 50px;

    margin: auto 20;
}

.cartImg{
height: 50px;

    margin: auto 20;

}

.eye{
    height: 50 px;
    position: absolute;
    top: 10;
    left: 1427;
    bottom: 0;
    margin: auto 20;
    width: 30px;

}

.center{
    width: 762px;
    height: 669px;
    background: #40A6AD;
    opacity: .8;
    position: relative;
    margin-top: 100px;
    margin: 100px auto;
    border-radius: 30px;

}

.auth{
    position: absolute;
    margin-top: 40px;
    margin-left: 202px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 550;
}

.ssilka{
position: absolute;
    margin-top: 40px;
    margin-left: 24%;
    margin-right: auto;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 550;
}

.logPassAuth{
padding-top: 100px !important;
padding-left: 80px !important;

}

.log-auth{
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 550;

}



#id_username{
height: 65px; width:509px; padding-top: 35px; position: relative; vertical-align: top; margin-bottom: 20px; margin-top: 0px; margin-left: 69px;
}

.log-img{
    border-radius: 10px;
}

.bg{
    width: 100%;
    background: url(../images/backk.png);
    background-size: 100% auto;

    repeat-y;
}


label{
display: none;
}

.errorlist{
display: none;
}

.pass-auth{
position: absolute;
padding-top: 80px;
margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 550;
}

#id_password1{
height: 65px; width:509px; padding-top: 35px; position: relative; vertical-align: top; margin-bottom: 20px; margin-top: 50px; margin-left: 69px;
}

.pass2-auth{
position: absolute;
padding-top: 210px;
margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 550;
}

#id_password2{
height: 65px; width:509px; padding-top: 35px; position: relative; vertical-align: top; margin-bottom: 20px; margin-top: 40px; margin-left: 69px;
}

.inp{

background: #FFD367; border: 3px solid #C79C34; border-radius: 20px; width: 580px; height: 90px; color: #9F7100;
    font-size: 30px;
    font-weight: 550;
}

.razrab{
text-decoration: underline; color: #FFFFFF; padding-left: 180px; font-size: 25px; padding-bottom: -5px;
}



@keyframes spin{
 from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-block{
background: #FFFFFF;
border: solid 2px;
width: 300px;
height: 400px;
border-radius: 20px;
}

.turtle{
padding-left: 10px;
padding-top: 10px;
width: 280px;
height: 160px;
}

.vid_title{
text-align: center;
font-weight: 800;
}

.vid_description{
text-align: center;
}

.tags{
margin-left: 25px;
}

.tag1{
background: #F7ECFF;
color: #FA00FF;
font-weight: 600;
width: 120px;
height: 30px;
border-radius: 20px;
display:inline-block;
vertical-align: middle;
text-align: center;
padding-top: 8px;
}

.tag2{
background: #E3F3FF;
color: #618DFF;
font-weight: 600;
width: 120px;
height: 30px;
border-radius: 20px;
display:inline-block;
text-align: center;
padding-top: 8px;
}

.tags2{
margin-left: 25px;
margin-top: 5px;
}

.tag3{
background: #FFF3E9;
color: #DF6B00;
font-weight: 600;
width: 120px;
height: 30px;
border-radius: 20px;
display:inline-block;
vertical-align: middle;
text-align: center;
padding-top: 8px;
}

.tag4{
background: #FDE8F2;
color: #FF166A;
font-weight: 600;
width: 120px;
height: 30px;
border-radius: 20px;
display:inline-block;
vertical-align: middle;
text-align: center;
padding-top: 8px;
}