*{
    font-family: Mont;

}





.name{
    color: #FFFFFF;
    font-weight: 550;
    font-size: 36;
    height: 50px;
    position: absolute;
    top: 0;
    left: 368;
    bottom: 0;
    margin: auto 0;
}

.helptext{
display: none;
}





.razrab{
width: 300px;
    height: 50px;
    margin-left: 55%;
    margin-right: auto;
    margin-bottom: 30px;
    color: #9F7100;
    font-size: 23px;
    font-weight: 600;
    background-color: #FFF3E9;
    border: 2px solid #C79C34;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
}

.razrab_{
vertical-align: middle;
padding-top: 10px;
margin-top: 10px;
color: #9F7100;
    alink: #9F7100;
    text-decoration: none;
}



.inText1{
    color: #FFFFFF;
    padding: 20px;
    margin-top: 80px;
}

.inText2{
    color: #FFFFFF;

}


.eye{
    height: 50 px;
    position: absolute;
    top: 10;
    left: 1427;
    bottom: 0;
    margin: auto 20;
    width: 30px;

}

.center{
    width: 762px;
    height: 669px;
    background: #FFFFFF;
    opacity: .8;
    position: relative;
    margin: 100px auto;
    margin-top: 10px;
    border-radius: 30px;
    border: 2px solid transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.auth{
    position: absolute;
    margin-top: 40px;
    margin-left: 202px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 550;
}

.log-auth{
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 550;

}

.logout{
box-sizing: content-box;
    width:85;
    height: 30;
    border: 1px solid black;
    font-size: 16;
    margin-left: auto;
    margin-right: 0em;
    border-radius: 3px;
    text-align: center;
}

#id_username{
height: 65px; width:509px; padding-top: 35px; position: relative; vertical-align: top; margin-bottom: 20px; margin-top: 0px; margin-left: 69px;
}

.frm1{
width:300px; position: relative; vertical-align: middle; margin-bottom: 20px; margin-top: 21px; margin-left: 180px;
}
.frm2{
height: 25px; width:300px; position: relative; vertical-align: middle; margin-bottom: 20px; margin-top: 21px; margin-left: 180px;
}
.frm3{
height: 25px; width:260px; position: relative; vertical-align: middle; margin-bottom: 20px; margin-top: 21px; margin-left: 220px;
}

#upload-container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 400px;
     height: 400px;
     outline: 2px dashed #5d5d5d;
     outline-offset: -12px;
     background-color: #e0f2f7;
     font-family: 'Segoe UI';
     color: #1f3c44;
}

.log-img{
    border-radius: 10px;
}



label{
display: none;
}

._text{
color: #378F95;
    font-size: 30px;
    font-weight: 600;
    padding-left: 34%;


}

._text2{
position: absolute;
font-size: 20px;
font-weight: 600;
padding-left: 40px;

}

._text3{
position: absolute;
font-size: 20px;
font-weight: 600;
padding-left: 550px;


}