*{
    font-family: Mont;

}



.header{
    width: 100%;
    background: #00A6A3;
    height: 100px;
    position: relative;

}

.name{
    color: #FFFFFF;
    font-weight: 550;
    font-size: 36;
    height: 50px;
    position: absolute;
    top: 0;
    left: 368;
    bottom: 0;
    margin: auto 0;
}

.helptext{
display: none;
}

.headerText1{
    color: #FFFFFF;
    font-size: 18;
    height: 50px;
    position: absolute;
    top: 29%;
    left: 549;
    bottom: 0;
    margin: auto 0;
}

.headerText2{
    color: #FFFFFF;
    font-size: 18;
    height: 50px;
    position: absolute;
    top: 29%;
    left: 640;
    bottom: 0;
    margin: auto 0;
}

.headerText3{
    color: #FFFFFF;
    font-size: 18;
    height: 50px;
    position: absolute;
    top: 29%;
    left: 751;
    bottom: 0;
    margin: auto 0;
}

.headerText4{
    color: #FFFFFF;
    font-size: 18;
    height: 50px;
    position: absolute;
    top: 29%;
    left: 896;
    bottom: 0;
    margin: auto 0;
}

.search-form {
  position: absolute;
  top: 52%;
  left: 1090;
  width: 198px;
  height: 30px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;
}

.search-input {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none!important;
  cursor: pointer;

  & svg {
    width: 20px;
    height: 20px;
    fill: #5a6674;
  }
}

.login{
    box-sizing: content-box;
    width:85;
    height: 30;
    border: 1px solid white;
    font-size: 16;
    position: absolute;
    top: 5%;
    left: 1232;
    bottom: 0;
    margin: auto 0;
    border-radius: 3px;
    text-align: center;
    color: #FFFFFF;
}

.login_{
text-align: center;
padding-top: 10px;
margin-top: 10px;
color: #FFFFFF;
    alink: #FFFFFF;
    text-decoration: none;
}

.razrab{
width: 300px;
    height: 50px;
    margin-left: 55%;
    margin-right: auto;
    margin-bottom: 30px;
    color: #9F7100;
    font-size: 23px;
    font-weight: 600;
    background-color: #FFF3E9;
    border: 2px solid #C79C34;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
}

.razrab_{
vertical-align: middle;
padding-top: 10px;
margin-top: 10px;
color: #9F7100;
    alink: #9F7100;
    text-decoration: none;
}

.register{
    box-sizing: content-box;
    background: #4799CB;
    width:130;
    height: 30;
    border: 1px solid white;
    font-size: 16;
    position: absolute;
    top: 5%;
    left: 1330;
    bottom: 0;
    margin: auto 0;
    border-radius: 3px;
    text-align: center;
    color: #FFFFFF;
    alink: #FFFFFF;
}

.register_{
color: #FFFFFF;
    alink: #FFFFFF;
    text-decoration: none;
    }

.inText1{
    color: #FFFFFF;
    padding: 20px;
    margin-top: 80px;
}

.inText2{
    color: #FFFFFF;

}

.profile{
    height: 50px;
    position: absolute;
    top: 0;
    left: 1489;
    bottom: 0;
    margin: auto 20;
}

.eye{
    height: 50 px;
    position: absolute;
    top: 10;
    left: 1427;
    bottom: 0;
    margin: auto 20;
    width: 30px;

}

.center{
    width: 762px;
    height: 669px;
    background: #FFFFFF;
    opacity: .8;
    position: relative;
    margin: 100px auto;
    margin-top: 0px;
    border-radius: 30px;
}

.auth{
    position: absolute;
    margin-top: 40px;
    margin-left: 202px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 550;
}

.log-auth{
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 550;

}

.logout{
box-sizing: content-box;
    width:85;
    height: 30;
    border: 1px solid black;
    font-size: 16;
    margin-left: auto;
    margin-right: 0em;
    border-radius: 3px;
    text-align: center;
}

#id_username{
height: 65px; width:509px; padding-top: 35px; position: relative; vertical-align: top; margin-bottom: 20px; margin-top: 0px; margin-left: 69px;
}

.frm1{
width:300px; position: relative; vertical-align: middle; margin-bottom: 20px; margin-top: 21px; margin-left: 180px;
}
.frm2{
height: 25px; width:300px; position: relative; vertical-align: middle; margin-bottom: 20px; margin-top: 21px; margin-left: 180px;
}
.frm3{
height: 25px; width:260px; position: relative; vertical-align: middle; margin-bottom: 20px; margin-top: 21px; margin-left: 220px;
}

#upload-container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 400px;
     height: 400px;
     outline: 2px dashed #5d5d5d;
     outline-offset: -12px;
     background-color: #e0f2f7;
     font-family: 'Segoe UI';
     color: #1f3c44;
}

.log-img{
    border-radius: 10px;
}

.bg{
    background: url(../images/b1.png);
}


label{
display: none;
}

._text{
color: #378F95;
    font-size: 30px;
    font-weight: 600;
    padding-left: 40px;
    padding-top: 20px;
}

._text2{
position: absolute;
font-size: 20px;
font-weight: 600;
padding-left: 40px;

}

._text3{
position: absolute;
font-size: 20px;
font-weight: 600;
padding-left: 550px;


}