{% extends "oursite/index.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
<body>
<div id="main" class="product-list">
    <div class="headerr">
        <h1 class="products">Ваша корзина на сумму: {{ cart.get_total_price }} ₽</h1>
        <h1 class="products1" style="display: none;">Сумма: {{ cart.get_total_price }} ₽</h1>
        <div class="payy">
            <a class="pay" href="{% url "orders:order_create" %}" class="button">
                Оплатить
            </a>
        </div>
    </div>
        {% for item in cart %}
            {% with product=item.product %}
            <div class="item" style="position: relative;">
                <a href="{{ product.get_absolute_url }}">
                    <img class="imgItem" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
                <br>
                <hr style="width: 440px">
                <br>
                <div class="namee">
                <a class="courseName" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                </div>

                <div class="category">
                <a class="courseCategory" href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
                </div>
                <div class="priceDiv">
                <p class="price">{{ item.price }} ₽</p>
                   <a class="delete" href="{% url "cart:cart_remove" product.id%}"><img class="cross" src="{% static 'images/cross.png' %}"></a>
                </div>
            </div>
      {% endwith %}
        {% endfor %}
</div>

</body>

<style>

    .payy{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid green;
    border-radius: 30px;
    background-color: #E9FFEB;
    text-align: center;
    margin-left: 85%;
    margin-top: 1%;
    margin-right: auto;
    }

    .pay{
    font-size: 35px;
    text-decoration: none;
    color: #0F9F03;
    font-weight: 600;
    }

    .delete{
    position: relative;
    top: -20px;
    margin-left: 93%;
    }

    .cross{
    width: 30px;
    }

    .products{
    padding-left: 18px;
    position: absolute;
    }

    .chooseCategory{
    position: absolute;
    padding-left: 72%;
    padding-top: 30px;
    }

    .headerr{
    padding-left: 18px;
    background: #FFFFFF;

    height: 75px;
    margin-bottom: 20px;
    border: 2px solid transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
    .item{
    padding-top: 10px;
     float: left;
     background: #FFFFFF;
     background-color: #FFFFFF;
     width: 470px;
     height: 460px;
     margin-right: 67px;
     text-align: center;
     margin-bottom: 55px;
     border: 8px solid transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    .category{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    background-color: #E3F3FF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }

    .courseCategory{
    font-size: 24px;
    text-decoration: none;
    color: #618DFF;
    font-weight: 600;
    }

    .imgItem{
    width: 440px;
    height: 200px;
    background: #FFFFFF;
    }

    .product-list{
    width: 100%;
    display: inline-block;
    padding-left: 0px;
    }

    .price{
    font-size: 24px;
    color: #0F9F03;
    font-weight: 800;
    background: #FFFFFF;
    }

    .priceDiv{
    }

    .namee{
    height: 100px;
    }

    .courseName{
    padding-top: 100px;
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: 600;
    }

@media screen and (max-width:1400px) {
    .payy{

    margin-left: 70%;

    }

@media screen and (max-width:1000px) {
    .products{
    display: none;
    padding-left: 18px;
    position: absolute;
    }
    .products1{
    display: inline !important;
    padding-left: 18px;
    position: absolute;
    }

}
</style>

{% endblock %}