{% extends "oursite/index.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
{% load humanize %}
<!--<div class="headerr">
        <h1 class="products">{% if category %}{{ category.title }}{% else %}Объявление{% endif %}</h1>
</div>-->
<div class="currentLinkContainer">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Category</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ product.category }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="detailContainer">
    <div class="card">
        <div class="row">
            <aside class="col-sm-6 border-right">
                <article class="gallery-wrap">
                    <div class="img-big-wrap">
                        <div> <a href="" data-toggle="modal" data-target="#productModal"><img
                                    src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"
                                    id="picture" class="img-fluid img-responsive"></a></div>
                    </div>
                    <div class="img-small-wrap">
                        <img
                                    src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"
                                    id="picture" class="small_active">
                        {% for photo in module %}
                        <div class="item-gallery thumbnail"> <img
                                src="{% if photo.video %}{{ photo.video.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"
                                {% if forloop.first %} class="img-fluid img-responsive" {% endif %}> </div>
                        {% endfor %}

                    </div>
                </article>
            </aside>
            <aside class="col-sm-6">
                <article class="card-body p-5">
                    <h3 class="price-detail">{{ product.price }} ₽</h3>
                    <p class="price-detail-wrap">
                        <span class="heading">
                            {{ product.title }}
                        </span>
                    </p>
                    <a href="#" class="btn btn-primary btnCategory"> Купить с доставкой </a>
                    <hr>
                    <div class="action-wrap">
                        <div class="nameAvatar-wrap">
                            <div class="nameAvatar-detail">{{ first_name.0 }}</div>
                            <a href="{{ product.url_to_catalog }}">
                                <span class="font-weight-bold">{{ first_name }} {{ last_name.0 }}. ({{ catalog|length }}
                                    объявлений)</span>
                            </a>
                        </div>
                        <!--<span class="font-style-normal btnwriteseller"> 
                            <a href="#"><i class="fa-regular fa-comment"></i> Написать продавцу</a>-->
                        {% if neededUser != request.user %}
                        <form method="get">
                            <div class="input-group btnwriteseller">
                                <span class="font-style-normal">
                                    <i class="fa-regular fa-comment"></i>
                                    <input class="btn btn-primary btnCategory_seller" name="q" type="submit"
                                        value="Написать продавцу">
                                </span>
                            </div>

                        </form>
                        {% endif %}
                        <!--</span>
                        <span class="font-style-normal btnwriteseller"> <a href="#"><i class="fa-regular fa-heart"></i> Добавить в избранное</a></span>-->
                        {% if request.user.is_authenticated %}
                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                            <div class="d-none">{{ cart_product_form }}</div>

                            {% csrf_token %}
                            <div class="input-group btnwriteseller">
                                <span class="font-style-normal">
                                    <i class="fa-regular fa-heart"></i>
                                    <input class="btn btn-primary btnCategory_seller" type="submit"
                                        value="Добавить в избранное">
                                </span>
                            </div>
                        </form>
                        {% endif %}
                    </div>

                </article>
            </aside>
        </div>
        <div class="row">
            <div class="product-description">
                <div class="col-md-8 mt-2">
                    <span class="title-description">Описание</span>
                    <p class="content-description"> {{ product.overview }} </p>
                    <span class="title-description">Характеристики</span>
                    <p class="content-description">The minimalist collaboration features chairs, lightening, Shelves,
                        Sofas, Desks and various
                        home accessories, all offering form and function at the same point.We use high-strength
                        clamps and joinery techniques specially designed for engineered wood beds. Ergo, no irksome
                        creaks - and you can sleep like a baby, well into adulthood!</p>

                    <span class="title-description">Адрес</span>
                    <p class="content-description">The minimalist collaboration features chairs, lightening, Shelves,
                        Sofas, Desks and various
                        home accessories, all offering form and function at the same point.We use high-strength
                        clamps and joinery techniques specially designed for engineered wood beds. Ergo, no irksome
                        creaks - and you can sleep like a baby, well into adulthood!</p>

                    <div class="d-flex align-items-center">
                        <span class="dot"></span>
                        <span class="bullet-text font-weight-bold">В избранном: 9</span>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>

<div class="card-similar mt-2">
    <span class="card-similar-title">Похожие товары</span>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="block-silimar no-border z-depth-2-top-similar z-depth-2-top-silimar-hover">
                <div class="block-similar-image">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"
                            class="card-img-top" height="238px">

                    </a>
                    <span class="wish-icon"><i class="fa-solid fa-heart"></i></span>
                </div>
                <div class="block-similar-body">
                    <h3 class="silimar-price">{{ product.price.normalize|intcomma }} ₽</h3>
                    <p class="productdes">{{ product.title }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- my image on Modal window -->
<div class="col-lg-4 col-md-6 mb-4">

    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

            <div class="modal-content">


                <div class="modal-body mb-0 p-0">

                    <div class="imgs-zoom">
                        <img class="img-fluid" id="modalImgageViewIMG"
                            src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" />
                    </div>

                </div>

                <div class="modal-footer d-block d-md-flex justify-content-center">

                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                        data-dismiss="modal">Закрыть</button>
                </div>

            </div>

        </div>
    </div>

</div>
<!--Script to click and show image page detail-->

<script>

    picture = document.querySelector('#picture');
    pictures = document.querySelector('.img-small-wrap').getElementsByTagName('img');
    choices = pictures.length;

    IndexOfActivePicture = 0;

    for (let i = 0; i < choices; i++) {
        pictures[i].addEventListener('click', function () {
            pictures[IndexOfActivePicture].classList.remove('small_active')
            pictures[i].classList.add('small_active')

            picture.src = pictures[i].src

            IndexOfActivePicture = i
        })

    }

</script>



{% endblock %}