{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Slick carousel-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css"
        integrity="sha512-EsqWk8izp7IArcp+ynSFwpyxxNxSNysUeEi1EGNG/h/D93BC4GhS3aLlH5bQNIpbiKMFyopRxRJKzxcOZeIRkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css"
        integrity="sha512-thJaDRSHpaG+2IBMnToE9jNFJ9e/UVfhT/5FXynKw2aHuMrOq7n/1bQBJsKPvHqXCtsfzK0ZPayjvOuM4oXtEg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <title>proffer-home</title>


    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
   <!-- <link rel="stylesheet" href="{% static 'css/profile.css' %}">-->
</head>

<body>
    <header class="fixed-top">
        <div class="topBarContainer">
            <div class="topbarLeft">
                <span class="localisation">
                    <i class="fa-solid fa-map-location topmapIcon"></i>
                    <span>Mестонахождение:</span>
                    <span class="btnCity"><a href="#" role="button">Екатеринбург</a></span>
                </span>
            </div>
            <div class="topbarCenter">
                <div class="topbarIcons">
                    <div class="topbarIconItem">
                        <a href="{% url 'cart:cart_detail' %}" class="linkItem">
                            <i class="fa-regular fa-heart iconItem"></i>
                            <span class="topbarIconBadge">1</span>
                            <span class="topbarIconTitle">Избранное</span>
                        </a>
                    </div>

                    <div class="topbarIconItem">
                        <a href="{% url 'oursite:dialogs' %}" class="linkItem">
                            <i class="fa-regular fa-comment iconItem"></i>
                            <span class="topbarIconBadge">3</span>
                            <span class="topbarIconTitle">Сообщения</span>
                        </a>
                    </div>
                    <div class="topbarIconItem">
                        <a href="{% url 'oursite:notifications' %}" class="linkItem">
                            <i class="fa-regular fa-bell iconItem"></i>
                            <span class="topbarIconBadge">1</span>
                            <span class="topbarIconTitle">Уведомление</span>
                        </a>
                    </div>
                </div>
            </div>
            {% if not request.user.is_authenticated %}
            <div class="topbarRight">
                <span class="btnSignin"><a href="{% url 'login' %}">Войти</a></span>
                <span class="diviserBtnSignin">|</span>
                <span class="btnSignin"><a href="{% url 'oursite:register' %}">Зарегистрироваться</a></span>
            </div>
            {% endif %}
        </div>

        <div class="appBarContainer">
            <div class="headerLogo">
                <a href="{% url 'oursite:product_list' %}" class="headerLogoImg"><img
                        src="{% static 'images/logo.png' %}" alt="logoproffer"></a>
            </div>



            <div class="headerBtnCategory">
                <div class="btn-group show-on-hover choosecategoryhover">
                    <a class="btn btn-primary btnCategory dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">
                        Категории
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'oursite:product_list' %}">Все объявления</a></li>
                        <p></p>
<input type="radio" name="jobtype" id="jt-parts" />
<label class="spisok" for="jt-parts">Запчасти</label>
<br>

<input type="radio" name="jobtype" id="jt-wheels" />
<label class="spisok" for="jt-wheels">Шины, диски и колеса</label>
<br>

{% for c in categories %}
        {% if c.subj == "Аудио и видеотехника" %}
<label class="spisok"><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></label>
{% endif %}
{% endfor %}
<br>

{% for c in categories %}
        {% if c.subj == "Аксессуары" %}
<label class="spisok"><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></label>
{% endif %}
{% endfor %}
<br>

{% for c in categories %}
        {% if c.subj == "Тюнинг" %}
<label class="spisok"><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></label>
{% endif %}
{% endfor %}
<br>

{% for c in categories %}
        {% if c.subj == "Багажники и фаркопы" %}
<label class="spisok"><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></label>
{% endif %}
{% endfor %}
<br>

{% for c in categories %}
        {% if c.subj == "Инструменты" %}
<label class="spisok"><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></label>
{% endif %}
{% endfor %}
<br>

{% for c in categories %}
        {% if c.subj == "Прицепы" %}
<label class="spisok"><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></label>
{% endif %}
{% endfor %}
<br>

{% for c in categories %}
        {% if c.subj == "Экипировка" %}
<label class="spisok"><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></label>
{% endif %}
{% endfor %}
<br>

{% for c in categories %}
        {% if c.subj == "Автокосметика и автохимия" %}
<label class="spisok"><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></label>
{% endif %}
{% endfor %}
<br>

{% for c in categories %}
        {% if c.subj == "Противоугонные устройства" %}
<label class="spisok"><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></label>
{% endif %}
{% endfor %}
<br>

{% for c in categories %}
        {% if c.subj == "GPS-навигаторы" %}
<label class="spisok"><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></label>
{% endif %}
{% endfor %}
<br>


<div class="text-for-jobtype" id="t-parts">
    <ul>
        {% for c in categories %}
        {% if c.subj == "Для автомобилей" %}
        <li><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></li>
        <p></p>
        {% endif %}
        {% if c.subj == "Для мототехники" %}
        <li><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></li>
        <p></p>
        {% endif %}
        {% if c.subj == "Для грузовиков и спецтехники" %}
        <li><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></li>
        <p></p>
        {% endif %}
        {% if c.subj == "Для водного транспорта" %}
        <li><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></li>
        <p></p>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="text-for-jobtype" id="t-wheels">
    <ul>
        {% for c in categories %}
        {% if c.subj == "Легковые шины" %}
        <li><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></li>
        <p></p>
        {% endif %}
        {% if c.subj == "Шины для грузовиков и спецтехники" %}
        <li><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></li>
        <p></p>
        {% endif %}
        {% if c.subj == "Мотошины" %}
        <li><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></li>
        <p></p>
        {% endif %}
        {% if c.subj == "Диски" %}
        <li><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></li>
        <p></p>
        {% endif %}
        {% if c.subj == "Колёса" %}
        <li><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></li>
        <p></p>
        {% endif %}
        {% if c.subj == "Колпаки" %}
        <li><a class="nocolor" href="{{ c.get_absolute_url }}">{{ c.subj }}</a></li>
        <p></p>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="text-for-jobtype" id="t-audiovideo">Text for BRANDING</div>
<div class="text-for-jobtype" id="t-accessories">accc</div>
<div class="text-for-jobtype" id="t-tuning">Text gdsfgdsLE</div>
<div class="text-for-jobtype" id="t-trunk">TexgfdsgsfdANDING</div>
<div class="text-for-jobtype" id="t-instruments">Text for WEB-APP</div>
<div class="text-for-jobtype" id="t-trailer">Text for MOBILE</div>
<div class="text-for-jobtype" id="t-equipment">Text for BRANDING</div>
<div class="text-for-jobtype" id="t-cosmetics">Text for WEB-APP</div>
<div class="text-for-jobtype" id="t-antitheft">Text for MOBILE</div>
<div class="text-for-jobtype" id="t-gps">Text for BRANDING</div>
                    </ul>
                </div>
            </div>
<style>
.spisok{
color: white;
}

.text-for-jobtype{
color: white;
}

.lbl-jobtype {
}

ul{
list-style: none;
}

.nocolor{
color: white;
}
.nocolor:hover{
color: #00D5D5;
cursor: pointer;
text-decoration: none;
}

label:hover{
color: #00D5D5;
cursor: pointer;
}

input[name='jobtype'] {
  display: none;
}

.text-for-jobtype {
  display: none;
  position: absolute;
  top: 40px;
  left: 450px;
}

#jt-parts:checked~#t-parts {
  display: block;
}

#jt-wheels:checked~#t-wheels {
  display: block;
}

#jt-audiovideo:checked~#t-audiovideo {
  display: block;
}

#jt-accessories:checked~#t-accessories {
  display: block;
}

#jt-tuning:checked~#t-tuning {
  display: block;
}

#jt-trunk:checked~#t-trunk {
  display: block;
}

#jt-instruments:checked~#t-instruments {
  display: block;
}

#jt-trailer:checked~#t-trailer {
  display: block;
}

#jt-equipment:checked~#t-equipment {
  display: block;
}

#jt-cosmetics:checked~#t-cosmetics {
  display: block;
}

#jt-antitheft:checked~#t-antitheft {
  display: block;
}

#jt-gps:checked~#t-gps {
  display: block;
}
</style>
<!--{% for c in categories %}-->
<!--                        <li><a href="{{ c.get_absolute_url }}">{{ c.subj }}</a></li>-->
<!--                        <li class="divider"></li>-->
<!--                        {% endfor %}-->
            <div class="headerSearchBar">

                <form class="searchbar" role="search" action="{% url 'oursite:search' %}" method="get">
                    <div class="input-group ml-2">
                        <input type="text" class="form-control me-2 searchInput" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" placeholder="Поиск по объявлениям" name="q">
                        <div class="input-group-append searchIcon">
                            <button type="button" class="btn btn-primary btnsearchIcon" name="q">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>

            <div class="headerBtnAddItem">
                <a class="btn btn-primary btnCategory" href="{% url 'oursite:profile' %}" role="button">Разместить
                    объявление</a>
            </div>

            <ul class="nav navbar-nav headerAvatar">
                {% if request.user.is_authenticated %}
                <li class="dropdown">
                    <!--<a href="#" class="dropdown" data-toggle="dropdown"><div class="nameAvatar">{{ user.first_name.0 }}<div></a>-->
                    <button type="button" class="dropdown bg-transparent border-0" data-toggle="dropdown">
                        <div class="nameAvatar"> {{ user.first_name.0 }}</div>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'oursite:profilee' %}"><i class="fa-solid fa-scroll"></i>&nbsp;&nbsp;Мои объявления</a></li>
                        <li class="divider"></li>
                        <li><a class="dropdown-item" href="{% url 'oursite:profile_buying' %}"> <i class="fa-solid fa-file-image"></i>&nbsp;&nbsp;Мои заказы</a></li>
                        <li class="divider"></li>
                        <li><a class="dropdown-item" href="{% url 'cart:cart_detail' %}"> <i class="fa-solid fa-bookmark"></i>&nbsp;&nbsp;Избранное</a></li>
                        <li class="divider"></li>
                        <li><a class="dropdown-item" href="{% url 'oursite:dialogs' %}"> <i class="fa-regular fa-comment"></i>&nbsp;&nbsp;Сообщения</a></li>
                        <li class="divider"></li>
                        <li><a class="dropdown-item" href="{% url 'oursite:notifications' %}"> <i class="fa-regular fa-bell"></i>&nbsp;&nbsp;Мои уведомления</a></li>
                        <li class="divider"></li>
                        <li><a class="dropdown-item" href="{% url 'oursite:profile_manage' %}"><i class="fa-regular fa-id-card"></i>&nbsp;&nbsp;Профиль</a></li>
                        <li class="divider"></li>
                        {% if request.user.is_authenticated %}
                        <li><a class="dropdown-item" href="{% url 'oursite:logout' %}"> <i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;Выйти</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'oursite:register' %}"> <i class="fa-solid fa-right-to-bracket"></i>&nbsp;&nbsp;Войти</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>

    </header>


    <div class="homeContainer">
        {% block content %}
        {% endblock %}
    </div>

    <section>
            <!-- Footer -->
            <footer class="footer-page">

                <div class="footer-content">

                    <div class="row w-100 d-flex justify-content-between">

                        <div class="footer-left col-md-4 mt-md-0 mt-3">
                            <span><a href="{% url 'oursite:product_list' %}" class="footerLogoImg"><img src="{% static 'images/logo.png' %}" alt="logopro"></a></span>
                        </div>

                        <div class="footer-center col-md-4 mb-md-0 mb-3">
                            <ul class="footer-link list-unstyled mt-3">
                                <li>
                                  <a href="#!">Помощь</a>
                                </li>
                                <li>
                                  <a href="#!">Безопасность</a>
                                </li>
                                <li>
                                  <a href="#!">+7 999 888 77 66</a>
                                </li>
                            </ul>

                        </div>

                        <div class="footer-right col-md-4 mb-md-0 mb-3">
                            
                           <ul class="footer-icon list-unstyled mt-3">
                                <li><h5 class="footer-title">Соц сети</h5></li>
                                <li>
                                    <span class="footer-icon"><a href="#"><i class="fa-brands fa-vk"></i></a><a href="#"><i class="fa-brands fa-twitter"></i></a><a href="#"><i class="fa-brands fa-youtube"></i></a><a href="#"><i class="fa-brands fa-instagram"></i></a><a href="#"><i class="fa-brands fa-google"></i></a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="footer-copyright link col-md-12">
                                <div class="py-3">
                                    © Copyright 2022 - Proffer
                                </div>
                        </div>
                    </div>
                </div>
            </footer>
    </section>





    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
    <!-- Slick carousel-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js"
        integrity="sha512-4xtXZGcbxYKcswaOVR0Z1MVVpaqAs/bZ2qUCkbVpRmLnZqeLnoEP9J771P8KYJ5Ol8FNtj0qnQ/KhlQifrY7FA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        

    <!--Iframe resizer-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.min.js" integrity="sha512-dnvR4Aebv5bAtJxDunq3eE8puKAJrY9GBJYl9GC6lTOEC76s1dbDfJFcL9GyzpaDW4vlI/UjR8sKbc1j6Ynx6w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script>
        iFrameResize({ log: true }, '.myiframe')
    </script>
    
    <!--Script for like icon-->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".wish-icon").click(function () {
                $(this).toggleClass("fa-hearti .wish-icon");
            });
        });	
    </script>
<!--Script for slick carousel Home page-->
    <script>
        $(document).ready(function () {
            $('#home-slider .carousel').slick({
                dots: true,
                infinite: true,
                speed: 500,
                slidesToShow: 2,
                slidesToScroll: 2,
                autoplay: true,
                autoplaySpeed: 3000,
                pauseOnHover: true,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            initialSlide: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    </script>


<!--Scritp Zoom inage in detail.html page-->
<script>
    $(document).ready(function(){
        $("#picture").click(function(){
            let url = $(this).attr('src');
            $('#modalImgageViewIMG').attr('src', url);
            $('#productModal').modal('toggle');
    }); 
});
</script>

</body>
</html>