{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="bg">
    <header class="header">
      <p class="name">Сайтик</p>
      <p class="headerText1">Courses</p>
      <p class="headerText2">Programs</p>
      <p class="headerText3">Collaboration</p>
      <p class="headerText4">About</p>
      <form class="search-form">
        <input type="search" value="" placeholder="Search" class="search-input">
          <button type="submit" class="search-button">
            <svg class="submit-button">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
            </svg>
          </button>
      </form>
      <div class="login">
          <p class="login_"><a href="{% url 'login' }">Войти</a></p>
      </div>
      <div class="register">

          <p class="register_"><a href="{% url 'register' }">Регистрация</a></p>
      </div>
      <img class="eye" src="{% static 'images/eye.png' %}" alt="">
      <img class="profile" src="{% static 'images/jake.png' %}" alt="">
    </header>

    <aside class="menu-container">
            <div>hello, {{user.username}}</div>

    </aside>

<div class="cart">
    {% with total_items=cart|length %}
        {% if cart|length > 0 %}
            Your cart:
            <a href="{% url "cart:cart_detail" %}">
                {{ total_items }} item{{ total_items|pluralize }},
                ${{ cart.get_total_price }}
            </a>
        {% else %}
            Your cart is empty.
        {% endif %}
    {% endwith %}
</div>


<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>