{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body class="bg">
    <header class="header">
      <p class="name">Сайтик</p>
      <p class="headerText1">Courses</p>
      <p class="headerText2">Programs</p>
      <p class="headerText3">Collaboration</p>
      <p class="headerText4">About</p>
      <form class="search-form">
        <input type="search" value="" placeholder="Search" class="search-input">
          <button type="submit" class="search-button">
            <svg class="submit-button">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
            </svg>
          </button>
      </form>
      <div class="login">
          <p class="login_"><a href="{% url 'login' }">Войти</a></p>
      </div>
      <div class="register">

          <p class="register_"><a href="{% url 'register' }">Регистрация</a></p>
      </div>
      <img class="eye" src="{% static 'images/eye.png' %}" alt="">
      <img class="profile" src="{% static 'images/jake.png' %}" alt="">
    </header>
<body>
<div class="center">

            <div>{{user.username}}</div>
    <div class="razrab">
            <a class="razrab_" href="{% url 'oursite:razrab' %}">Стать разработчиком</a>
        </div>
            {% for o in Ord %}
            {% if o.first_name == user.username %}
            {% for i in Item %}
                {% if i.first_name == user.username %}
            <a href="{{ i.product.url_to_course }}"> {{ i.product }} </a>
                {% endif %}
            {% endfor %}
         {% endif %}
            {% endfor %}

hfdhfdghfgd

</div>

</body>






</body>
</html>