{% extends "oursite/index.html" %}
{% load static %}

{% block content %}
{% load humanize %}

<div class="container currentLinkContainer">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">

            </nav>
        </div>
    </div>
</div>
<section class="listings">
    <div class="container">
        <div class="row">
            <div class="col-md-12  search-bloc-result">
                <div class="row">
                    <div class="col-md-12">
                        <span class="search-found"> Результаты поиска по запросу: {{ query }} {{ list|length }} </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card card-sidebar">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form method="post" enctype="multipart/form-data" id="search-form">
                                            {% csrf_token %}

                                            <div class="form-group box-form">
                                                <span><h5>Тип объявления</h5></span>
                                                <div class="nested_check_in checkbox-md"><input name="buy" value="buy" type="checkbox"> <label class="nested_label">Ищу</label></div>
                                                <div class="nested_check_in checkbox-md"><input name="sell" value="sell" type="checkbox"> <label class="nested_label">Предлагаю</label></div>
                                            </div>
                                            <div class="form-group">
                                                <span><h5>Стоимость</h5></span>
                                                <div class="box-form-horiz">
                                                    <div class="min">
                                                        <input type="number" name="from" class="form-control" placeholder="от">
                                                    </div>
                                                    <div class="max">
                                                        <input type="number" name="to" class="form-control" placeholder="до, руб.">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group box-form">
                                                <span><h5>Сортировать по</h5></span>
                                                <div class="">
                                                    <label class="nested_label">
                                                        <input type="radio" name="exampleRadio" value="">
                                                        <span class="form-check-label"> По умолчанию</span>
                                                    </label>
                                                    <label class="nested_label">
                                                        <input type="radio" name="exampleRadio" value="">
                                                        <span class="form-check-label">По дате</span>
                                                    </label>
                                                    <label class="nested_label">
                                                        <input type="radio" name="exampleRadio" value="">
                                                        <span class="form-check-label">Дешевле</span>
                                                    </label>
                                                    <label class="nested_label">
                                                        <input type="radio" name="exampleRadio" value="">
                                                        <span class="form-check-label">Дороже</span>
                                                    </label>
                                                    <label class="nested_label">
                                                        <input type="radio" name="exampleRadio" value="">
                                                        <span class="form-check-label">По удаленности</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="card_button">
                                                <button type="Submit" value="Submit" class="btn btn-primary btnfilter">Применить фильтры</button>
                                                <button type="button" value="" class="btn btn-primary btnfilter-clean">Сбросить фильтры</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                {% for product in list %}
                <div class="row mb-3">
                    <div class="col-md-12">
                        <a class="card_link" href="{{ product.get_absolute_url }}">
                            <div class="card card-rightbar">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3 card_img">
                                            <img class="search-result-img img-fluid" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                                        </div>
                                        <div class="col-md-9  card-body">
                                            <h4 class="card_title">{{ product.title }}</h4>

                                            <span class="card_price">{{ product.price.normalize|intcomma }} ₽</span>
                                            
                                            <p class="card_descrip">
                                                {{ product.overview }}
                                            </p>
                                            <span class="card_date">Yesterday 10:00 PM</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-12">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#">Предыдущий</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Следующий</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}